.faq_section {
    min-height: 50rem;
    background: #000;
    padding: 5rem 0;
    color: #fff;
    border-bottom: #282e34 solid .7rem;
    
    .heading__primary {
        text-align: center;
        font-size: 5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__para {
        font-size: 2rem;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }

    .input-group {
        width: 95%;
        margin: 0 auto;
    }

    .accordian_section {
        width: 70%;
        margin: 0 auto;
        margin-top: 5rem;
        &__card {
            border-radius: 0rem;
            border:rgb(48, 48, 48);
        }

        &__toggle {
            border-radius: 0;
            padding: 2rem;
            background: rgb(48, 48, 48);
            font-size: 2.5rem;
        }
    }
    

}