.accordian_section__card {
    border-radius: 0rem;
    border:rgb(48, 48, 48);
    margin-bottom: 2rem;
}

.accordian_section__toggle {
    border-radius: 0;
    padding: 2rem;
    background: rgb(48, 48, 48);
    font-size: 2.5rem;
}